* {
  font-family: "Poppins", sans-serif;
}

.first {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

h1 {
  font-size: 18px;
}
.home {
  color: #9096a7;
}

.m {
  color: RED;
}

/* start in nav */

.left_side dl dt {
  color: black;
}

.left_side dl dd {
  color: #9096a7;
  padding: 0 15px;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
}
.left_side dl dd:hover {
  padding-left: 10px;
  transition: 0.3s;
  color: #db4444;
}

nav dl .red {
  color: #db4444;
}

/* End in nav */
.my .con {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 60px 0;
}

.my .con .right h4 {
  font-size: 20px;
  font-weight: 500;
  color: #db4444;
  margin-bottom: 20px;
}
.my .con .right .boxs {
  display: flex;
  align-items: center;
}
.my .con .right .boxs .box {
  margin-right: 40px;
}
.my .con .right .boxs .box label {
  display: block;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 400;
}
.my .con .right .boxs .box input[type="text"],
.my .con .right .boxs .box input[type="email"],
.my .con .right input[type="password"] {
  padding: 10px 80px 10px 20px;
  border: 1px solid #00000057;
  border-radius: 4px;
  background-color: #f5f5f5;
  width: 330px;
}
.my .con .right .pass label {
  display: block;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 400;
}
.my .con .right .pass input[type="password"] {
  display: block;
  margin: 20px 0;
  width: 753px;
  padding: 10px 130px 10px 20px;
}

.my .con .right .button {
  width: 315px;
  margin-left: auto;
  margin-right: 0;
}
.my .con .right .button input[type="reset"] {
  background-color: white;
  border: none;
  margin-right: 15px;
  cursor: pointer;
}
.my .con .right .button input[type="submit"] {
  padding: 16px 48px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  background-color: #db4444;
  color: #ffffff;
  padding-top: 14px;
  border: none;
}
